/* 
* properties plugin css 
*/
.page-numbers{
	margin: 0px 5px;
	border: 1px solid #007bff;
	padding: 5px 10px;
}
.page-numbers.current{
	border: 1px solid #000;
}
.pagination, .properties-loadmore-wrapper{
	display: flex;
	width: 100%;
	justify-content: center;
}
/*Margins and paddings*/
.ml-1{
	margin-left: 1rem;
}
.ml-3{
	margin-left: 3rem;
}
.ml-5{
	margin-left: 5rem;
}
